<html>
	<head>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
		<script	src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script	src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	</head>
	<body>
	{%load staticfiles%}

	<script>
        $(function() {
            $.getJSON("{% static "states.json" %}", {}, function (states) {
                $("#id_civil_status").autocomplete({
                    source: states
                });
            });

	
	$("#id_userplace").autocomplete({
              		source: function( request, response ) {
                    	$.ajax({
                        url: "http://ws.geonames.org/searchJSON",
                        dataType: "jsonp",
                        data: {
                            featureClass: "P",
                            maxRows: 10,
                            name_startsWith: request.term
                        },
                        success: function( data ) {
                            response( $.map( data.geonames, function( item ) {
                                return {
                                    label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
                                    value: item.name,
                                    stateOrProvince: item.adminName1,
                                    countryName: item.countryName
                                }
                            }));
                        }
                    });
                },
                minLength: 2,
                select: function( event, ui ) {
                    if (ui.item) {
                        $("#id_stateOrProvince").val(ui.item.stateOrProvince);
                        $("#id_country").val(ui.item.countryName);
                        $("#id_zipCode").val("");
                    }
                }
            });
        });		

		</script>


	{% if user.username %}
		<form method="post" action="">
			{% csrf_token %}
			<table>
				{{form.as_table }}
			</table>
			<input	type="submit" value="Submit"/>
		</form>
	{% else %}
		<p>No estas loguejat:
		Obligatori fer <a href="/login/">sign in</a>
		per editar.</p>
	{% endif %}

	</body>
</html>
